<div class="card mt-4" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title" class="center" style="font-size: 20px; font-weight: 500;;">{{dPool.dPoolName}}</h3>
        <div class="circle center mt-2" style="position: relative;font-size: 25px;">
            <diV style="position: absolute;
            top: 50%;left: 50%;transform: translate(-50%, -50%);padding-top: 20px;">
                <p style="display: flex;justify-content: center;font-size: 25px;">{{balance}}</p>
                <p style="display: flex;justify-content: center;font-size: 25px;">{{valueName}}</p>
                <p style="display: flex;justify-content: center;font-size: 18px;">{{devaluatedAmount}}</p>
            </diV>
        </div>
        <p class="card-text center mt-4" style="font-size: 20px;font-weight: 500;">Start time:</p>
        <p class="card-text center" style="font-size: 17px;font-weight: 500;">{{startTime}}</p>
        <p class="card-text center mt-4" style="font-size: 20px;font-weight: 500;">Stop time:</p>
        <p class="card-text center" style="font-size: 17px;font-weight: 500;">{{stopTime}}</p>
        <button [disabled]="isWbtnDisabled" *ngIf="!stopTimeReached" mat-fab class="center mt-3 rotate" color="primary"
            (click)="withdraw()" matTooltip="Withdraw amount to logged in account">
            <mat-icon>exit_to_app</mat-icon>
        </button>
        <p *ngIf="stopTimeReached" class="card-text center" style="font-size: 17px;
        font-weight: 500;padding-top: 10px;">DPool drained</p>
    </div>
</div>