<div class="wrapper">
    <div class="container">
        <h1 style="font-weight: 600;">Blockchain Developer Bootcamp</h1>
        <h1 style="font-weight: 600;">Final Project</h1>
        <h2 style="font-weight: 600; font-size: 25px;color:#445783;letter-spacing: 4px;">Decentralized Pools</h2>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>